.detail {
  flex: 1;
  margin: 1rem;

  &__title {
    margin: 0;
  }

  &__date {
    font-style: italic;
    color: #666;
  }

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #1e4dd8;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
}
