.collapsible {
  background-color: #00a76a;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0.1rem 0;

  &:hover {
    background-color: #008655;
  }
}

.content {
  display: block;
  padding: 0 18px;
  overflow: hidden;
  background-color: #1e4dd8;
  color: #fff;
}

.hideContent {
  display: none;
}
